<!doctype html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/story7.css' %}">

  <script>
    // Mengubah tema dari website
    function changetheme(){
      document.body.classList.toggle("dark-theme");
    }

    $( function() {
      $( "#accordion" ).accordion();
    } );
  </script>
</head>

<body>
  <!-- Tombol untuk mengganti tema -->
  <div style="padding-top: 1em;">
    <p style="display: inline; margin: 3em 1em;">Light</p>
    <label class="switch">
        <input id="btnchangetheme" onclick = changetheme()  type="checkbox">
        <span class="slider round"></span>
    </label>
    <p style="display: inline; margin: 3em 1em;">Dark</p>
  </div>

  <h3 style="text-align: center; margin-bottom: 2em; margin-top: 1em;"><b>Hai, nama saya Adhytia</b></h3>

  <!-- Accordion -->
  <div class="container" style="text-align:center; width: 50%;">
    <div id="accordion" class="accordion">
      <h3>Aktivitas</h3>
      <div>
        <ul>
          <li>Mengikuti perkuliahan di semester 3 dengan beban akademik sebanyak 19 sks</li>
          <li>Menjadi Asisten Dosen Matematika Diskret 1</li>
          <li>Mengikuti Open Class Ristek Data Science SIG</li>
        </ul>
      </div>
      <h3>Organisasi & Kepanitiaan</h3>
      <div>
          <ul>
              <li>Asisten Dosen Matematika Diskrit 1</li>
              <li>PJ Wira Usaha Himpunan Mahasiswa Bumi Raflesia</li>
              <li>PJ Humas Publikasi Studi Islam Awal Kuliah Next-Generation</li>
              <li>Mentor Agama Penerimaan Mahasiswa Baru</li>
              <li>Staff Divisi Media FUKI Fasilkom UI</li>
              <li>Staff Divisi Desain Dokumentasi MTQ UI</li>
            </ul>
      </div>
      <h3>Prestasi</h3>
      <div>
        <ul>
          <li>Juara 3 Mobile Apps Competition Plan Internasional Indonesia</li>
          <li>Juara 1 Karya Tulis Ilmiah FUKI Quranic Olympiad</li>
          <li>Juara 1 Cerdas Tangkas Fisika POIF</li>
          <li>Juara 1 Cerdas Tangkas MIPA</li>
          <li>Juara 1 Cerdas Tangkas Kimia PIK</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>