{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Halo, bagaimana kabarmu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body, html {
                height: 100%;
                margin: 0;
                color: white;
            }

            .h1InCenter {
                margin-top: 0;
                padding-top: 5%;
                display: inline-block;
            }

            .bg {
                background-image: url("{% static 'assets/background.jpg' %}");
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            div{
                text-align: center;
            }

            td{
                padding-bottom: 10px;
                word-wrap: break-word;
                max-width: 100px;
            }

            h2{
                margin: 0;
                margin-bottom: 5px;
            }

            .roundedblackback{
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
                border-radius: 10px;
            }
            .divscroll{
                max-height: 350px;
                overflow: auto;
            }
            .tablecenter{
                text-align: center;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }
            .tablecenter td{
                /* border: 1px solid black; */
                text-align: center;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="bg">
            <div class="h1InCenter">
                <h1 class="roundedblackback">Halo, apa kabar?</h1>
            </div>
            <form action="" method='POST' class='form'>
                {% csrf_token %}
                {{ form }}
                <input class="" type="submit" value="Kirim" id="id_submit">
                <div class="divscroll">
                    <table class="tablecenter roundedblackback ">
                        <th>
                            <h2>STATUS</h2>
                        </th>
                        <TH>
                            <h2>WAKTU</h2>
                        </TH>
                        {% for d in data %}
                        <tr>
                            <td width="60%">
                                {{ d.status }}
                            </td>
                            <td width="40%">
                                {{ d.waktu }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>   
                </div>
            </form>
        </div>    
    </body>

</html>