{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <style>
      img{
        width: 600px;
        border: 1px solid;
      }
    </style>
    <title>Story 10</title>
  </head>
  <body>
    <h1 style="text-align: center;">Load Balancing
      <br>Menggunakan Nginx
    </h1>
    <p>Load Balancing adalah teknik untuk mendistribusikan beban trafik pada dua atau lebih jalur koneksi secara seimbang, 
      agar trafik dapat berjalan optimal, memaksimalkan throughput, memperkecil waktu tanggap dan menghindari overload pada 
      salah satu jalur koneksi. Salah satu manfaat lainnya dari teknik ini adalah apabila salah satu dari server mengalami
      masalah dan down, maka pengguna tidak akan merasakan kerusakan yang terjadi. Load balancing juga akan membuat website 
      kita bersifat High Availabillity. High Availabillity, adalah sebuah istilah yang digunakan untuk sebuah sistem yang 
      dapat bekerja dengan daya tahan yang baik, bekerja sempurna tanpa kesalahan dalam waktu yang lama.</p>
      <p>Salah satu tools yang banyak digunakan untuk melakukan load balancing adalah Nginx. Berikut ini akan dijelaskan 
        bagaimana cara menggunakan Nginx mulai dari proses instalasi, konfigurasi, dan terakhir proses pengujian.
      </p>

    <h2>
      Instalasi
    </h2>
    <p>1. Unduh Nginx melalui tautan berikut  <a href="http://nginx.org/en/download.html">http://nginx.org/en/download.html</a></p>
    <p>Pada kesempatan kali ini, hanya akan dibahas cara menggunakan Nginx pada sistem operasi windows dan project menggunakan django</p>

    <img src="{% static 'unduh.png' %}" alt="unduh">
    <p>2. Jika proses pengunduhan telah selesai, ekstrak dan pindahkan hasilnya sehingga satu directory dengan project django seperti contoh berikut</p>
    <img src="{% static 'folder.png' %}" alt="folder">

    <h2>Konfigurasi</h2>
    <p>Setelah selesai melakukan langkah Instalasi diatas, ada beberapa hal yang harus kita atur agar Nginx dapat digunakan sebagai load balancer.</p>
    <p> 1. Buka folder Nginx, lalu buka folder conf</p>
    <img src="{% static 'conf.png' %}" alt="conf">

    <p>2. Pada folder conf, terdapat beberapa file yang berfungsi untuk mengatur konfigurasi dari Nginx. Untuk saat ini, kita hanya perlu mengubah bagian pada file <strong>nginx.conf</strong>
    <br>
    Buka file <strong>nginx.conf</strong> menggunakan text editor, contohnya visual studio code.
    </p>
    <img src="{% static 'open.png' %}" alt="open">

    <p>3. Copy source code berikut kedalam file <strong>nginx.conf</strong></p>
    <blockquote>
      <pre>
          http {
            upstream myapp1 {
                server srv1.example.com;
                server srv2.example.com;
                server srv3.example.com;
            }
        
            server {
                listen 80;
        
                location / {
                    proxy_pass http://myapp1;
                }
            }
          }        
      </pre>
    </blockquote>

    <p>4. Jika sudah, ubah baris yang ditunjuk dengan server yang kalian nyalakan. Pada kesempatan kali ini saya akan mencoba 3 localserver, yaitu 8000, 9000, dan 10000</p>
    <img src="{% static 'server.png' %}" alt="server" style="width: 300px; margin-left: 100px;">

    <p>5. Setelah selesai, buka kembali folder Nginx, dan double click pada <strong>nginx.exe</strong>. Dengan demikian, Nginx telah berhasil di konfigurasi dan sudah berhasil menyala</p>
    <img src="{% static 'buka.png' %}" alt="buka">
    
    <h2>Pengujian</h2>
    <p>Untuk mengetahui apakah proses konfigurasi telah berjalan dengan baik, kita perlu melakukan sebuah uji coba.
      Salah satu cara yang paling mudah adalah <br> dengan menyalakan berbagai localserver pada project kita. 
    </p>

    <p>1. Buka file <strong>views.py</strong> pada project kalian. Lalu tambahkan method berikut ini.
      <br> Instruksi <strong>request.META['SERVER_PORT']</strong> berfungsi untuk mengecek port mana yang sedang digunakan.
    </p>
    <img src="{% static 'views.png' %}" alt="views">


    <p>2. Buka Command Prompt, dan jalankan instruksi <strong>"python manage.py runserver 8000"</strong> untuk menyalakan server local pada port 8000. 
      <br> Lakukan hal yang sama untuk port 9000 dan 10000. Setelah selesai, command prompt kalian akan terlihat seperti berikut.</p>
      <img src="{% static 'cmd.png' %}" alt="cmd">

    <p>3. Setelah itu, buka halaman <strong>localhost</strong> pada browser kalian untuk melihat hasilnya
    <br>Jika halaman dimuat ulang, maka port yang muncul akan berubah-ubah sesuai dengan port yang sedang aktif melayani request kita.
    <br>Proses pemilihan port mana yang akan digunakan sepenuhnya diatur oleh Nginx. Dengan demikian, proses load balancing dari website kita telah berhasil. </p>
    <img src="{% static 'port8000.png' %}" alt="port8000">
    <img src="{% static 'port10000.png' %}" alt="port10000">
    
    <p>Demikian langkah-langkah untuk menggunakan load balancer Nginx. Semoga mudah dipahami.</p>
    <h1 style="text-align: center;">Terima Kasih</h1>
  </body>
</html>