<!DOCTYPE html>
{% load static %}

<html>
    <style>
        .settingImg{
            width: 10em;
        }
        .settingTitle{
            width: 20em;
        }
        .leftContent{
            text-align: left;
        }
    </style>
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body style="width: 100%; text-align: center; padding: 1em;">
        <h1>
            STORY 8 LIBRARY
        </h1>
        <div class="container" style="padding: 2em;">
        <input id="input" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="display: inline;">
        <button id="search" class="btn btn-outline-success btn-rounded btn-sm my-0">Search</button>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col" width="850">Description</th>
                </tr>
            </thead>
            <tbody  id="list">
                {% for data in result.items%}
                    <tr>                         
                        <td><img class="settingImg" src="{{ data.volumeInfo.imageLinks.thumbnail }}" alt="Thumbnail"></td>
                        <td class="settingTitle leftContent">{{ data.volumeInfo.title }}</td>   
                        <td class="leftContent">
                            <ul>
                            {% if data.volumeInfo.authors not in data %}
                                <li>Unknown</li>
                            {%else%}
                                {% for author in data.volumeInfo.authors %}
                                <li>{{author}}</li>
                                {% endfor %}
                            {%endif%}
                            </ul>
                        </td>        
                        <td class="leftContent">{{ data.volumeInfo.description }}</td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </body>

    <script>
    $("#search").click(
    function(){
        var keyword = $("#input").val();
        if(!(keyword === "") && !(keyword == null)) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://adhytia-story-6.herokuapp.com/story8/listbooks/?q=" + keyword, 
                success: function(result){
                    $("#list").empty();
                    var items = result.items
                    for(i=0; i < 10; i++) {
                        var title = $("<td>").text(items[i].volumeInfo.title)
                            title.attr({
                                'class' : "settingTitle leftContent"
                            })
                        if (items[i].volumeInfo.imageLinks == undefined) {
                            var thumbnail = $("<td>").append($("<img>").attr({
                                'class' : "settingImg",
                                'src' : "https://wartakonstruksi.com/upload/image_not_found.jpg"
                            }));
                        } else{
                            var thumbnail = $("<td>").append($("<img>").attr({
                                'class' : "settingImg",
                                'src' : items[i].volumeInfo.imageLinks.thumbnail
                            }));
                        }
                        var arrAuthor = items[i].volumeInfo.authors
                        var ulAuthor = $("<ul>")
                        arrAuthor.forEach(element => {
                            var liAuthor = $("<li>").text(element)
                                ulAuthor.append(liAuthor)
                        });
                        var author = $("<td>").append(ulAuthor).attr({
                            'class' : 'leftContent'
                        })
                        var description = $("<td>").text((items[i].volumeInfo.description == undefined) ? "No Description" : items[i].volumeInfo.description).attr({
                            'class' : "leftContent"
                        })
                        var tr = $("<tr>").append(thumbnail, title, author, description)
                        $("#list").append(tr);
                    }       
                }
            });
        }
    }
    );
    </script>
    
</html>