{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center;">
    <h1>Homepage</h1>
    {% if user.is_authenticated %}
      <h5>Hello <strong>{{ user.username }}</strong>, how are you today?</h5>
    {% else %}
      <h5>Welcome to my website, visitor!</h5>
    {% endif %}
  </div>
{% endblock %}
